button,
.btn {
    border: 0;
    background-color: transparent;
    border-radius: 0;
    color: black;
    margin: 0;
    padding: 0;
}

.btn {
    padding: var(--btn-pad);
    margin: var(--btn-marg);
    color: var(--btn-color);
    background-color: var(--btn-bg);
    border: var(--btn-border);
    border-radius: var(--btn-bradius);
}