/*asd: var(--name, fallback)*/

h1{
    font-size: var(--h1-size);
    color: var(--h1-color);
    margin: var(--h1-margin);
    line-height: var(--h1-lineh);
}

h2{
    font-size: var(--h2-size);
    color: var(--h2-color);
    margin: var(--h2-margin);
    line-height: var(--h2-lineh);
}

h3{
    font-size: var(--h3-size);
    color: var(--h3-color);
    margin: var(--h3-margin);
    line-height: var(--h3-lineh);
}

h4{
    font-size: var(--h4-size);
    color: var(--h4-color);
    margin: var(--h4-margin);
    line-height: var(--h4-lineh);
}

h5{
    font-size: var(--h5-size);
    color: var(--h5-color);
    margin: var(--h5-margin);
    line-height: var(--h5-lineh);
}

h6{
    font-size: var(--h6-size);
    color: var(--h6-color);
    margin: var(--h6-margin);
    line-height: var(--h6-lineh);
}