@import "./normalize.css";
@import "./config.css";
@import "./grid.css";
@import "./spacing.css";
@import "./flex-utils.css";
@import "./a11y.css";
@import "./text.css";
@import "./headings.css";
@import "./buttons.css";
@import "./images.css";
@import "./animations.css";


.icon{
    width: 20px;
}
.hover{
    transition: all .3s ease;
}
.hover:hover, .hover:focus{
    transform: scale(1.1);
}