.m0 {
    margin: 0;
}

.mt0 {
    margin-top: 0;
}

.mt025 {
    margin-top: .25rem;
}

.mt05 {
    margin-top: .5rem;
}

.mt075 {
    margin-top: .75rem;
}

.mt1 {
    margin-top: 1rem;
}

.mt125 {
    margin-top: 1.25rem;
}

.mt15 {
    margin-top: 1.5rem;
}

.mt175 {
    margin-top: 1.75rem;
}

.mt2 {
    margin-top: 2rem;
}

.mt3 {
    margin-top: 3rem
}

.mt4 {
    margin-top: 4rem;
}

.mt5 {
    margin-top: 5rem;
}

.mt6 {
    margin-top: 6rem;
}

.mt7 {
    margin-top: 7rem;
}

.mt8 {
    margin-top: 8rem;
}

.mt9 {
    margin-top: 9rem;
}

.mr0 {
    margin-right: 0;
}

.mr025 {
    margin-right: .25rem;
}

.mr05 {
    margin-right: .5rem;
}

.mr075 {
    margin-right: .75rem;
}

.mr1 {
    margin-right: 1rem;
}

.mr125 {
    margin-right: 1.25rem;
}

.mr15 {
    margin-right: 1.5rem;
}

.mr175 {
    margin-right: 1.75rem;
}

.mr2 {
    margin-right: 2rem;
}

.mr3 {
    margin-right: 3rem
}

.mr4 {
    margin-right: 4rem;
}

.mr5 {
    margin-right: 5rem;
}

.mr6 {
    margin-right: 6rem;
}

.mr7 {
    margin-right: 7rem;
}

.mr8 {
    margin-right: 8rem;
}

.mr9 {
    margin-right: 9rem;
}

.mb0 {
    margin-bottom: 0;
}

.mb025 {
    margin-bottom: .25rem;
}

.mb05 {
    margin-bottom: .5rem;
}

.mb075 {
    margin-bottom: .75rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.mb125 {
    margin-bottom: 1.25rem;
}

.mb15 {
    margin-bottom: 1.5rem;
}

.mb175 {
    margin-bottom: 1.75rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.mb3 {
    margin-bottom: 3rem
}

.mb4 {
    margin-bottom: 4rem;
}

.mb5 {
    margin-bottom: 5rem;
}

.mb6 {
    margin-bottom: 6rem;
}

.mb7 {
    margin-bottom: 7rem;
}

.mb8 {
    margin-bottom: 8rem;
}

.mb9 {
    margin-bottom: 9rem;
}

.ml0 {
    margin-left: 0;
}

.ml025 {
    margin-left: .25rem;
}

.ml05 {
    margin-left: .5rem;
}

.ml075 {
    margin-left: .75rem;
}

.ml1 {
    margin-left: 1rem;
}

.ml125 {
    margin-left: 1.25rem;
}

.ml15 {
    margin-left: 1.5rem;
}

.ml175 {
    margin-left: 1.75rem;
}

.ml2 {
    margin-left: 2rem;
}

.ml3 {
    margin-left: 3rem
}

.ml4 {
    margin-left: 4rem;
}

.ml5 {
    margin-left: 5rem;
}

.ml6 {
    margin-left: 6rem;
}

.ml7 {
    margin-left: 7rem;
}

.ml8 {
    margin-left: 8rem;
}

.ml9 {
    margin-left: 9rem;
}

.mtb0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mtb025 {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.mtb05 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.mtb075 {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.mtb1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mtb2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mtb3 {
    margin-top: 3;
    margin-bottom: 3rem;
}

.mtb4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.mtb5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mtb6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.mtb7 {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.mtb8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.mtb9 {
    margin-top: 9rem;
    margin-bottom: 9rem;
}

.mlr0 {
    margin-left: 0;
    margin-right: 0;
}

.mlr025 {
    margin-left: .25rem;
    margin-right: .25rem;
}

.mlr05 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.mlr075 {
    margin-left: .75rem;
    margin-right: .75rem;
}

.mlr1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mlr2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mlr3 {
    margin-left: 3;
    margin-right: 3rem;
}

.mlr4 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.mlr5 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.mlr6 {
    margin-left: 6rem;
    margin-right: 6rem;
}

.mlr7 {
    margin-left: 7rem;
    margin-right: 7rem;
}

.mlr8 {
    margin-left: 8rem;
    margin-right: 8rem;
}

.mlr9 {
    margin-left: 9rem;
    margin-right: 9rem;
}

.p0 {
    padding: 0;
}

.pt0 {
    padding-top: 0;
}

.pt025 {
    padding-top: .25rem;
}

.pt05 {
    padding-top: .5rem;
}

.pt075 {
    padding-top: .75rem;
}

.pt1 {
    padding-top: 1rem;
}

.pt125 {
    padding-top: 1.25rem;
}

.pt15 {
    padding-top: 1.5rem;
}

.pt175 {
    padding-top: 1.75rem;
}

.pt2 {
    padding-top: 2rem;
}

.pt3 {
    padding-top: 3rem
}

.pt4 {
    padding-top: 4rem;
}

.pt5 {
    padding-top: 5rem;
}

.pt6 {
    padding-top: 6rem;
}

.pt7 {
    padding-top: 7rem;
}

.pt8 {
    padding-top: 8rem;
}

.pt9 {
    padding-top: 9rem;
}

.pr0 {
    padding-right: 0;
}

.pr025 {
    padding-right: .25rem;
}

.pr05 {
    padding-right: .5rem;
}

.pr075 {
    padding-right: .75rem;
}

.pr1 {
    padding-right: 1rem;
}

.pr125 {
    padding-right: 1.25rem;
}

.pr15 {
    padding-right: 1.5rem;
}

.pr175 {
    padding-right: 1.75rem;
}

.pr2 {
    padding-right: 2rem;
}

.pr3 {
    padding-right: 3rem
}

.pr4 {
    padding-right: 4rem;
}

.pr5 {
    padding-right: 5rem;
}

.pr6 {
    padding-right: 6rem;
}

.pr7 {
    padding-right: 7rem;
}

.pr8 {
    padding-right: 8rem;
}

.pr9 {
    padding-right: 9rem;
}

.pb0 {
    padding-bottom: 0;
}

.pb025 {
    padding-bottom: .25rem;
}

.pb05 {
    padding-bottom: .5rem;
}

.pb075 {
    padding-bottom: .75rem;
}

.pb1 {
    padding-bottom: 1rem;
}

.pb125 {
    padding-bottom: 1.25rem;
}

.pb15 {
    padding-bottom: 1.5rem;
}

.pb175 {
    padding-bottom: 1.75rem;
}

.pb2 {
    padding-bottom: 2rem;
}

.pb3 {
    padding-bottom: 3rem
}

.pb4 {
    padding-bottom: 4rem;
}

.pb5 {
    padding-bottom: 5rem;
}

.pb6 {
    padding-bottom: 6rem;
}

.pb7 {
    padding-bottom: 7rem;
}

.pb8 {
    padding-bottom: 8rem;
}

.pb9 {
    padding-bottom: 9rem;
}

.pl0 {
    padding-left: 0;
}

.pl025 {
    padding-left: .25rem;
}

.pl05 {
    padding-left: .5rem;
}

.pl075 {
    padding-left: .75rem;
}

.pl1 {
    padding-left: 1rem;
}

.pl125 {
    padding-left: 1.25rem;
}

.pl15 {
    padding-left: 1.5rem;
}

.pl175 {
    padding-left: 1.75rem;
}

.pl2 {
    padding-left: 2rem;
}

.pl3 {
    padding-left: 3rem
}

.pl4 {
    padding-left: 4rem;
}

.pl5 {
    padding-left: 5rem;
}

.pl6 {
    padding-left: 6rem;
}

.pl7 {
    padding-left: 7rem;
}

.pl8 {
    padding-left: 8rem;
}

.pl9 {
    padding-left: 9rem;
}

.ptb0 {
    padding-top: 0;
    padding-bottom: 0;
}

.ptb025 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.ptb05 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ptb075 {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.ptb1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ptb2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ptb3 {
    padding-top: 3;
    padding-bottom: 3rem;
}

.ptb4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.ptb5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ptb6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.ptb7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.ptb8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.ptb9 {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.plr0 {
    padding-left: 0;
    padding-right: 0;
}

.plr025 {
    padding-left: .25rem;
    padding-right: .25rem;
}

.plr05 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.plr075 {
    padding-left: .75rem;
    padding-right: .75rem;
}

.plr1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.plr2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.plr3 {
    padding-left: 3;
    padding-right: 3rem;
}

.plr4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.plr5 {
    padding-left: 5rem;
    padding-right: 5rem;
}

.plr6 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.plr7 {
    padding-left: 7rem;
    padding-right: 7rem;
}

.plr8 {
    padding-left: 8rem;
    padding-right: 8rem;
}

.plr9 {
    padding-left: 9rem;
    padding-right: 9rem;
}