.m0 {
    margin: 0;
}

.m025 {
    margin: .25rem;
}

.m05 {
    margin: .5rem;
}

.m075 {
    margin: .75rem;
}

.m1 {
    margin: 1rem;
}

.m125 {
    margin: 1.25rem;
}
.m15 {
    margin: 1.5rem;
}
.m175 {
    margin: 1.75rem;
}
.m2 {
    margin: 2rem;
}

.mt0 {
    margin-top: 0;
}

.mt025 {
    margin-top: .25rem;
}

.mt05 {
    margin-top: .5rem;
}

.mt075 {
    margin-top: .75rem;
}

.mt1 {
    margin-top: 1rem;
}

.mt125 {
    margin-top: 1.25rem;
}

.mt15 {
    margin-top: 1.5rem;
}

.mt175 {
    margin-top: 1.75rem;
}

.mt2 {
    margin-top: 2rem;
}

.mt3 {
    margin-top: 3rem
}

.mt4 {
    margin-top: 4rem;
}

.mt5 {
    margin-top: 5rem;
}

.mt6 {
    margin-top: 6rem;
}

.mt7 {
    margin-top: 7rem;
}

.mt8 {
    margin-top: 8rem;
}

.mt9 {
    margin-top: 9rem;
}

.mr0 {
    margin-right: 0;
}

.mr025 {
    margin-right: .25rem;
}

.mr05 {
    margin-right: .5rem;
}

.mr075 {
    margin-right: .75rem;
}

.mr1 {
    margin-right: 1rem;
}

.mr125 {
    margin-right: 1.25rem;
}

.mr15 {
    margin-right: 1.5rem;
}

.mr175 {
    margin-right: 1.75rem;
}

.mr2 {
    margin-right: 2rem;
}

.mr3 {
    margin-right: 3rem
}

.mr4 {
    margin-right: 4rem;
}

.mr5 {
    margin-right: 5rem;
}

.mr6 {
    margin-right: 6rem;
}

.mr7 {
    margin-right: 7rem;
}

.mr8 {
    margin-right: 8rem;
}

.mr9 {
    margin-right: 9rem;
}

.mb0 {
    margin-bottom: 0;
}

.mb025 {
    margin-bottom: .25rem;
}

.mb05 {
    margin-bottom: .5rem;
}

.mb075 {
    margin-bottom: .75rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.mb125 {
    margin-bottom: 1.25rem;
}

.mb15 {
    margin-bottom: 1.5rem;
}

.mb175 {
    margin-bottom: 1.75rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.mb3 {
    margin-bottom: 3rem
}

.mb4 {
    margin-bottom: 4rem;
}

.mb5 {
    margin-bottom: 5rem;
}

.mb6 {
    margin-bottom: 6rem;
}

.mb7 {
    margin-bottom: 7rem;
}

.mb8 {
    margin-bottom: 8rem;
}

.mb9 {
    margin-bottom: 9rem;
}

.ml0 {
    margin-left: 0;
}

.ml025 {
    margin-left: .25rem;
}

.ml05 {
    margin-left: .5rem;
}

.ml075 {
    margin-left: .75rem;
}

.ml1 {
    margin-left: 1rem;
}

.ml125 {
    margin-left: 1.25rem;
}

.ml15 {
    margin-left: 1.5rem;
}

.ml175 {
    margin-left: 1.75rem;
}

.ml2 {
    margin-left: 2rem;
}

.ml3 {
    margin-left: 3rem
}

.ml4 {
    margin-left: 4rem;
}

.ml5 {
    margin-left: 5rem;
}

.ml6 {
    margin-left: 6rem;
}

.ml7 {
    margin-left: 7rem;
}

.ml8 {
    margin-left: 8rem;
}

.ml9 {
    margin-left: 9rem;
}

.my0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my025 {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.my05 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.my075 {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.my1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my3 {
    margin-top: 3;
    margin-bottom: 3rem;
}

.my4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.my5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.my6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.my7 {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.my8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.my9 {
    margin-top: 9rem;
    margin-bottom: 9rem;
}

.mx0 {
    margin-left: 0;
    margin-right: 0;
}

.mx025 {
    margin-left: .25rem;
    margin-right: .25rem;
}

.mx05 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.mx075 {
    margin-left: .75rem;
    margin-right: .75rem;
}

.mx1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx3 {
    margin-left: 3;
    margin-right: 3rem;
}

.mx4 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.mx5 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.mx6 {
    margin-left: 6rem;
    margin-right: 6rem;
}

.mx7 {
    margin-left: 7rem;
    margin-right: 7rem;
}

.mx8 {
    margin-left: 8rem;
    margin-right: 8rem;
}

.mx9 {
    margin-left: 9rem;
    margin-right: 9rem;
}
.m-auto{
    margin: auto;
}
.mt-auto{
    margin-top: auto;
}
.mr-auto{
    margin-right: auto;
}
.mb-auto{
    margin-bottom: auto;
}
.ml-auto{
    margin-left: auto;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}



/* Paddings */
.p0 {
    padding: 0;
}

.p025 {
    padding: .25rem;
}

.p05 {
    padding: .5rem;
}

.p075 {
    padding: .75rem;
}

.p1 {
    padding: 1rem;
}

.p125 {
    padding: 1.25rem;
}
.p15 {
    padding: 1.5rem;
}
.p175 {
    padding: 1.75rem;
}
.p2 {
    padding: 2rem;
}

.pt0 {
    padding-top: 0;
}

.pt025 {
    padding-top: .25rem;
}

.pt05 {
    padding-top: .5rem;
}

.pt075 {
    padding-top: .75rem;
}

.pt1 {
    padding-top: 1rem;
}

.pt125 {
    padding-top: 1.25rem;
}

.pt15 {
    padding-top: 1.5rem;
}

.pt175 {
    padding-top: 1.75rem;
}

.pt2 {
    padding-top: 2rem;
}

.pt3 {
    padding-top: 3rem
}

.pt4 {
    padding-top: 4rem;
}

.pt5 {
    padding-top: 5rem;
}

.pt6 {
    padding-top: 6rem;
}

.pt7 {
    padding-top: 7rem;
}

.pt8 {
    padding-top: 8rem;
}

.pt9 {
    padding-top: 9rem;
}

.pr0 {
    padding-right: 0;
}

.pr025 {
    padding-right: .25rem;
}

.pr05 {
    padding-right: .5rem;
}

.pr075 {
    padding-right: .75rem;
}

.pr1 {
    padding-right: 1rem;
}

.pr125 {
    padding-right: 1.25rem;
}

.pr15 {
    padding-right: 1.5rem;
}

.pr175 {
    padding-right: 1.75rem;
}

.pr2 {
    padding-right: 2rem;
}

.pr3 {
    padding-right: 3rem
}

.pr4 {
    padding-right: 4rem;
}

.pr5 {
    padding-right: 5rem;
}

.pr6 {
    padding-right: 6rem;
}

.pr7 {
    padding-right: 7rem;
}

.pr8 {
    padding-right: 8rem;
}

.pr9 {
    padding-right: 9rem;
}

.pb0 {
    padding-bottom: 0;
}

.pb025 {
    padding-bottom: .25rem;
}

.pb05 {
    padding-bottom: .5rem;
}

.pb075 {
    padding-bottom: .75rem;
}

.pb1 {
    padding-bottom: 1rem;
}

.pb125 {
    padding-bottom: 1.25rem;
}

.pb15 {
    padding-bottom: 1.5rem;
}

.pb175 {
    padding-bottom: 1.75rem;
}

.pb2 {
    padding-bottom: 2rem;
}

.pb3 {
    padding-bottom: 3rem
}

.pb4 {
    padding-bottom: 4rem;
}

.pb5 {
    padding-bottom: 5rem;
}

.pb6 {
    padding-bottom: 6rem;
}

.pb7 {
    padding-bottom: 7rem;
}

.pb8 {
    padding-bottom: 8rem;
}

.pb9 {
    padding-bottom: 9rem;
}

.pl0 {
    padding-left: 0;
}

.pl025 {
    padding-left: .25rem;
}

.pl05 {
    padding-left: .5rem;
}

.pl075 {
    padding-left: .75rem;
}

.pl1 {
    padding-left: 1rem;
}

.pl125 {
    padding-left: 1.25rem;
}

.pl15 {
    padding-left: 1.5rem;
}

.pl175 {
    padding-left: 1.75rem;
}

.pl2 {
    padding-left: 2rem;
}

.pl3 {
    padding-left: 3rem
}

.pl4 {
    padding-left: 4rem;
}

.pl5 {
    padding-left: 5rem;
}

.pl6 {
    padding-left: 6rem;
}

.pl7 {
    padding-left: 7rem;
}

.pl8 {
    padding-left: 8rem;
}

.pl9 {
    padding-left: 9rem;
}

.py0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py025 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.py05 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.py075 {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.py1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.py5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.py6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.py7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.py8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.py9 {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.px0 {
    padding-left: 0;
    padding-right: 0;
}

.px025 {
    padding-left: .25rem;
    padding-right: .25rem;
}

.px05 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.px075 {
    padding-left: .75rem;
    padding-right: .75rem;
}

.px1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px3 {
    padding-left: 3;
    padding-right: 3rem;
}

.px4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.px5 {
    padding-left: 5rem;
    padding-right: 5rem;
}

.px6 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.px7 {
    padding-left: 7rem;
    padding-right: 7rem;
}

.px8 {
    padding-left: 8rem;
    padding-right: 8rem;
}

.px9 {
    padding-left: 9rem;
    padding-right: 9rem;
}