table{
    width: var(--table-width);
    margin: var(--table-margin);
    padding: var(--table-padding);
    border: var(--table-border);
    border-spacing: var(--table-border-spacing);
}
thead{
    text-align: var(--thead-align);
    color:  var(--thead-color);
    background-color:  var(--thead-bg);
}
.striped tbody tr:nth-of-type(odd){
    background-color:var(--table-striped-bg);
}
.border td{
    border: var(--table-bordered);
}
.horizontal-border td{
    border-bottom:var(--table-horizontal-border);
}
td{
    padding: var(--td-padding);
}