.warning {
  border: 1px solid pink;
  background: rgba(255,0,0,0.1);
  padding: 2rem;
  margin: 2rem 4rem 8rem 7rem;
  font-family: georgia, serif;
  line-height: 1.2;
}
@supports (display: grid) {
  .warning {
    display: none;
  }
}
.grid{
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1rem 1fr 1fr 1rem;
  grid-template-rows: 50vh auto auto auto;
  grid-template-areas: 
  "header header header header"
  ". aside aside ."
  ". main main ."
  "footer footer footer footer"
  ;
}

@media screen and (min-width:70rem){
  .grid{
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1rem 20rem 1fr 20rem 1rem;
    grid-template-rows: 100vh auto auto;
    grid-template-areas: 
    "header header header header header"
    ". main main aside ."
    "footer footer footer footer footer"
    ;
  }

}
.header{
  grid-area: header;
}
.main{
  grid-area: main;
}
.aside{
  grid-area:aside;
}
.footer{
  grid-area: footer;
}

.grid div:nth-child(even){
  background-color: brown
}
.grid div:nth-child(odd){
  background-color: olivedrab
}